<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="container">

        <footer>
            <!-- this is footer -->
            <div th:if="${#httpServletRequest.remoteUser}">
                Logged In as <span th:text="${#httpServletRequest.remoteUser}"></span>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                </form>
            </div>

        </footer>

    </div>

</div>
</body>
</html>
