<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <meta charset="UTF-8">

    <title>User Page</title>

    <div th:replace="fragments/header :: header-css"/>

</head>

<body>

<div th:replace="fragments/header :: header"/>

    <h1>Welcome to Admin Page</h1>

    <a class="btn btn-primary" href="/user">User Page</a>
    <a  class="btn btn-warning" href="/manager">Manager Page</a>

    <pclass="myTexts">A text which only admins can see</p>

<div th:replace="fragments/footer :: footer"/>

</body>

</html>