<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <meta charset="UTF-8">

    <title>User Page</title>

</head>

<body>

<div th:replace="fragments/header :: header"/>

    <h1>Welcome to Admin Page</h1>

    <a href="/user">User Page</a>
    <a href="/manager">Manager Page</a>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

</body>

</html>