<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <meta charset="UTF-8">

    <title>Home</title>

</head>

<body>

<div th:replace="fragments/header :: header"/>

    <button class="badge badge-primary">Deneme</button>

    <h1>Welcome Our Home Page</h1>

    <a href="/user">User Page</a>

    <a href="/admin">Admin Page</a>

    <a href="/manager">Manager Page</a>

    <footer>
        <!-- this is footer -->
        © 2017 mkyong.com
        <div th:if="${#httpServletRequest.remoteUser}">
            Logged In
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>

        <script type="text/javascript"
                src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </footer>


</body>

</html>