<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">

    <title>User Page</title>

    <div th:replace="fragments/header :: header-css"/>

</head>

<body>

<div th:replace="fragments/header :: header"/>

    <h1>Welcome to Manager Page</h1>

    <a class="btn btn-danger" href="/admin">Admin Page</a>
    <a class="btn btn-primary" href="/user">User Page</a>

    <p class="myTexts">A text which only managers can see</p>

<div th:replace="fragments/footer :: footer"/>

</body>

</html>